//BPL= BreakPointLarge - Medium - Small
$mediaBPL: 1440px;
$mediaBPM: 1024px;
$mediaBPS: 769px;
$mediaBPXS: 425px;
@mixin screen-L {
    @media screen and (max-width:#{$mediaBPL}) {
    @content
    }
}
@mixin laptop {
    @media screen and (max-width:#{$mediaBPM}){
        @content
    }
}

@mixin tab {
    @media screen and (max-width:#{$mediaBPS}) {
    @content
    }
}
@mixin smartphone {
    @media screen and (max-width:#{$mediaBPXS}) {
        @content
        }
}
