//BPL= BreakPointLarge - Medium - Small
$mediaBPL: 1441px;
$mediaBPM: 726px;
$mediaBPS: 320px;

@mixin screen-L {
    @media screen and (max-width:#{$mediaBPL}) {
    @content
    }
}
@mixin screen-M {
    @media screen and (max-width:#{$mediaBPM}){
        @content
    }
}

@mixin screen-S {
    @media screen and (max-width:#{$mediaBPS}) {
    @content
    }
}

