//BPL= BreakPointLarge - Medium - Small
$mediaBPL: 1440px;
$mediaBPM: 1024px;
$mediaBPS: 768px;

@mixin screen-L {
    @media screen and (max-width:#{$mediaBPL}) {
    @content
    }
}
@mixin laptop {
    @media screen and (max-width:#{$mediaBPM}){
        @content
    }
}

@mixin screen-S {
    @media screen and (max-width:#{$mediaBPS}) {
    @content
    }
}

