@import './responsivL';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
    @include screen-L{
        padding: 0;
        margin: 0;
    }
}
ul li, a{
    text-decoration: none;
    list-style: none;
}
@mixin aligment($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin flexAlign($wrap,$justify,$align) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}
$fontMdvl:'MedievalSharp', cursive;
h1,p,label,input{
    color:#fff;font-family: 'Original Surfer', cursive;
}
body{
    @include aligment(column,space-evenly ,center );
    height: 100vh;
    width: 100%;
    @include smartphone{
        @include flexAlign(wrap,center ,center );
    }//modification flex pour la version mobile
       .bkgd--img{
           position: absolute;
           top: 0;
           left: 0;
           z-index: 0;
           width: 100%;
           height: 100%;
           @include screen-L{
               max-width: 1440px;
           }
           img{
               width: 100%;
               height: 100%;
                @include screen-L{
                    max-width:1440px ;
                }
           }
       }
       header{
           width: 80%;
           z-index: 50;
       }
        section, footer{
           width: 80%;
           z-index: 15;
       }
        header { 
            font-family:$fontMdvl;
            height: 15%;
            @include aligment(row,space-between ,flex-start );//flexbox pour les élements à l'intérieur
                .header--infos{
                    @include aligment(row,space-around ,flex-start );
                    h1{
                        font-family:$fontMdvl;
                        max-width: 417px;
                        text-align: center;
                        font-size: 180px;
                        line-height: 160px;
                        color:rgb(211, 178, 0);
                        opacity: 0.5;
                        -webkit-text-stroke: 1px #242424;
                        
                        @include screen-L{
                            font-size: 150px;
                            line-height: 130px;
                            -webkit-text-stroke: 2px #242424;
                        }
                        @include tab{
                            opacity: 0.75;
                            font-size: 100px;
                            line-height: 80px;
                            -webkit-text-stroke: 1px #242424;
                        } 
                    }
                    .questionMark{
                        align-items: baseline;
                        // font-weight: bold;
                        cursor: help;
                        font-size: 2rem;
                        color: #fff;
                        //-webkit-text-stroke: 1px #242424;
                    }
                    .txt--infos {
                        display: none;
                         .infos,ul,h2{
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 1.2em;
                            color: #fff;
                             a{
                                 color: #5c4d02;
                                font-size: 1.3rem;
                            }
                        }
                        h2{
                            font-size: 2rem;
                            padding-bottom: 25px;
                            text-align: center;
                        }
                    }
                    .overlay{
                        position: absolute;
                        top:0;
                        left:0;
                        transform: translate(50%,50%);
                        display: inline-block;
                        max-height: 50%;
                        max-width: 50%;
                        padding:3%;
                        background-color: #242424;
                        .close--infos{
                            font-size: 1em;
                            color:#fff;
                            text-align: center;
                        }
                    }
                }
                .header--options { 
                    max-width:765px;
                    margin: 0;
                    @include aligment(row,space-evenly ,flex-start ); 
                        label{
                            font-size: 2rem;
                            font-family: "MedievalSharp";
                        
                        }
                       input{
                            max-width:100px;
                            border:1px #fff;
                            font-size:1.9rem;
                            color:#fff;
                            text-align: center;
                            border-style:none;
                            border-bottom-style:dotted;
                            background: transparent;
                            @include screen-L{
                                font-size: 1.5rem;
                            }
                        }   
                        .input--space{
                            align-self: flex-start;
                            display: block;
                            width: 2px;
                            height: 36px;
                            background-color: #fff;
                            margin: 0 15px;
                        }
                        .cheatMod{
                            max-width: 200px;
                            .cheat  {//checkbox de l'input cheatbox modifié
                                width:25px;
                                height: 25px;
                                @include screen-L{
                                    height: 20px;
                                    width: 20px;
                                }
                            }
                            .inactivated{//Style par défault. Changement de menu depuis le JS
                                display: none;
                            }
                            .activeOptions{
                                @include aligment(column,space-evenly ,flex-start );
                                .Crit{
                                    @include aligment(row,space-between ,center );
                                    width: 100%; height:25px;
                                    .accent{
                                        text-transform: capitalize;
                                    }
                                    label{
                                        font-size: 1.1em;
                                    } 
                                    .cheat  {//checkbox de l'input cheatbox modifié
                                        width:20px;
                                        height: 20px;
                                    }
                                }
                            }//fin activeOptions
                        }//fin cheatMod
                }//fin header--options
                @include screen-L{
                    .header--options{
                        label{
                            font-size: 1.8rem;
                        }
                    }
                    
                }//FIN MEDIA SCREEN L
                @include laptop{
                    h1{
                        width:25%;
                        font-size: 100px;
                        line-height: 80px;
                       
                    }
                    .header--options{
                        width: 60%;
                        label{
                            font-size: 1.2rem;
                        }
                        input{
                            max-width:50px;
                            font-size:1.2rem;
                        }
                    }
                }//FIN MEDIA LAPTOP
                @include tab{
                    .header--options{
                        label{
                            font-size: 1.2rem;
                        }
                        input{
                            max-width:40px;
                            font-size:1rem;
                        }
                        .input--space{
                            display: none;
                        }
                    }

                }//FIN MEDIA TAB
                @include smartphone {
                    width: 100%;
                    height: 15%;
                    h1{
                        margin-left: 5%;
                        font-size: 50px;
                    }
                    .header--options{
                        width: 60%;
                        @include aligment(column, space-evenly ,center );
                        label{
                            font-size: 1rem;
                        }
                        input{
                            max-width:40px;
                            font-size:1rem;
                        }
                        .input--space{
                            display: none;
                        }
                        .cheatMod{
                            .cheat{
                            width: 15px;
                            height: 15px;
                        }
                        }
                        .activeOptions{
                            font-size: 0.8em;
                        }
                    }
                }//FIN MEDIA SMARTPHONE
        }
        //----------------------------Fin Section HEADER----------------------------
        section{
            height: 40%;
            @include aligment(row,space-evenly,baseline );
            .draw ,.result{
                width: 40%;
                @include flexAlign(wrap,space-around,center);
            }
            .draw{
                .draw--number,.draw--dice{
                    width: 50%;
                }
                .draw--dice{
                    text-align: center;
                }
                .draw--display{
                   max-width: 200px;
                }
                @include laptop{
                    .draw--display{
                        width: 145px;
                    }
                }
                .draw--number p{
                    text-align: center;
                    font-size:14em;
                    color: #fff;
                    -webkit-text-stroke: 5px #957D03;
                    text-shadow: 5px 4px 25px #000000;
                }
                .draw--btn{
                    max-width: 100px;
                    max-height: 60px;
                    text-align: center;
                    

                    .fa-solid{ 
                        background-color: #957D03;
                        color: #fff;
                        font-size:3em ;
                        padding:10px;
                        border: #fff 2px dashed;
                        border-radius: 5px;
                    }
                }
                .draw--btn:hover{
                    .fa-solid{
                        background-color: #5c4d02;
                        font-size: 3.2em;
                    }
                }
                @include screen-L{
                    .draw--number p{
                        font-size: 12rem;
                    }
                    .draw--dice{
                        width: 41%;
                    }
                    .draw--btn{
                        max-width: 80px;
                        max-height: 40px;
                        .fa-solid{ 
                            font-size:2.8em ;
                            padding:8px;
                        }
                    }
                    .draw--btn:hover{
                        .fa-solid{
                            font-size: 3em;
                        }
                    }
                }//FIN SCREEN L

               
            }//Fin DRAW
            @include tab{
                @include aligment(column,space-evenly ,center );
           
                .draw ,.result{
                    width: 100%;
                    @include aligment(row,space-evenly ,center );
                        .draw--number,.draw--dice,.draw--btn{
                            max-width: 33%;
                        }
                        .draw--number p{
                            font-size: 8em;
                        }
                        .draw--display{
                            max-width: 50%;
                        }
                }
               
            }//FIN MEDIA TAB
            @include smartphone{
                height: 75%;
                width:70%;
            }//FIN MEDIA SMARTPHONE
            .equal { 
                max-width: 15%;
                img{
                     max-width:272px;
                }
                @include screen-L{
                    width: 17%;
                    margin:2%;
                    img{
                        width: 100%;
                    }
                }
            }
            .result{
                .result--number,.result--swordsShield{
                    width: 50%  ;
                }
                .result--number p{
                    text-align: center;
                    font-size:14em;
                    color: #fff;
                    -webkit-text-stroke: 5px #957D03;
                    text-shadow: 5px 4px 25px #000000;
                }
                .result--swordsShield img{
                    width: 247px;
                }
                @include laptop{
                    .result--number p{
                        font-size:10em;
                    }
                    .result--swordsShield img{
                        width: 145px;
                    }
                }

                @include screen-L{
                   .result--number  p{
                       font-size: 12rem;
                   }
                }
                @include tab{
                    .result--number p{
                        font-size: 8em;
                    }
                }
            }
        }
        //----------------------------Fin Section SECTION----------------------------
        footer{
            height: 20%;
            .dices{
                @include aligment(row,space-evenly ,baseline );
                width: 100%;
                .btn--dice{
                    border:2px transparent solid;
                    padding:15px 5px 5px 5px;
                    width: 14%;
                    @include aligment(column,space-evenly ,center );
                    @include screen-L{
                        padding: 15px 0 5px 0;
                    }
                    img{
                        width: 130px;
                        height:130px;
                    }
                     .btn--dice-hundred{
                            width:94%;
                        }
                    p{
                        text-align: center;
                        font-size:3.5em;
                        color: #fff;
                        -webkit-text-stroke: 2px rgb(150, 125, 3);
                        text-shadow: 5px 4px 25px #000000;
                    }
                }
                .btn--dice:hover{
                    border:2px dashed;
                    border-color: rgba(255, 255, 255, 0.5);
                    border-radius: 5px;
                }
            }
            @include laptop{
                height: 25%;
                .dices{
                    @include flexAlign(wrap,space-evenly ,center );
                    .btn--dice{
                        padding:0px;
                         width: 22%;
                        @include aligment(column,space-evenly ,center );
                        img{
                            width: 95px;
                            height:95px;
                        }
                         .btn--dice-hundred{
                                width:100%;
                            }
                        p{
                            font-size:2.5em;
                            -webkit-text-stroke: 1px rgb(150, 125, 3);
                            text-shadow: 5px 4px 15px #000000;
                        }
                    }
                }
            }
            @include smartphone{
                width: 25%;
                @include aligment(column,space-evenly ,center );
                .dices{
                    
                    .btn--dice{
                        padding:0px;
                        @include aligment(column,space-evenly ,center );
                        img{
                            width: 95px;
                            height:95px;
                        }
                         .btn--dice-hundred{
                                width:100%;
                            }
                        p{
                            font-size:2.5em;
                            -webkit-text-stroke: 1px rgb(150, 125, 3);
                            text-shadow: 5px 4px 15px #000000;
                        }
                    }
                }
            }
        }
}