@import './responsivL';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
@mixin aligment($direction,$justify,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin flexAlign($wrap,$justify,$align) {
    display: flex;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}
$fontMdvl:'MedievalSharp', cursive;
h1,p,label,input{
    color:#fff;
    font-family: 'Original Surfer', cursive;
}
body{
    @include aligment(column,space-evenly ,center );
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
        .bkgd--img{
           position: absolute;
           top: 0;
           left: 0;
           z-index: 0;
           width: 100%;
           height: 100%;
           img{
               width: 100%;
               height: 100%;
           }
       }
       header{
           width: 80%;
           z-index: 50;
       }
        section, footer{
           width: 80%;
           z-index: 15;
       }
        header { 
            font-family:$fontMdvl;
            height: 15%;
            @include aligment(row,space-between ,flex-start );//flexbox pour les élements à l'intérieur
            
            .header--infos{
                @include aligment(row,space-around ,flex-start );
                h1{
                    font-family:$fontMdvl;
                    max-width: 417px;
                    text-align: center;
                    font-size: 180px;
                    line-height: 160px;
                    color:rgb(211, 178, 0);
                    opacity: 0.5;
                    -webkit-text-stroke: 1px #242424;
                    }

                .exclamationMark{
                    align-items: baseline;
                    text-align: center;
                    height: 50px;
                    width: 50px;
                    cursor: help;
                    font-size: 1.8rem;
                    color: #fff;
                    border: solid #fff 3px;
                    border-radius: 50%;
                    padding:10px;
                }
                .txt--infos {
                    display: none;
                    .infos,ul,h2{
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1em;
                        list-style-type: square;
                        color: #fff;
                        a{
                            color: #fff;
                            font-size: 1rem;
                        }
                    }
                    ul{
                        line-height: 1.4rem;
                        margin: 5px;
                        padding-left: 2%;
                    }
                    h2{
                        font-size: 2rem;
                        padding-bottom: 25px;
                        text-align: center;
                    }
                    table{
                        width: 100%;
                        color:#fff;
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.2em;
                        line-height: 22px;
                        margin-bottom: 2%;
                        thead{
                            tr td{
                                background-color: rgba(255, 255, 255, 0.1);
                                text-align: center;
                                padding-right: 5px;
                            }
                        }
                        tbody{
                            tr td{
                                padding: 15px;
                            }
                        }
                    }
                }
                .overlay{
                    position: fixed;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    display: inline-block;
                    max-height: 70%;
                    max-width: 70%;
                    overflow-y:auto ;
                    padding:2%;
                    background-color: #242424;
                    border-radius:25px;
                    box-shadow: 0px 5px 55px rgba(255, 255, 255, 0.2);
                    .close--infos{
                        position: absolute;
                        top: 5%;
                        right: 5%;
                        font-size: 1.5em;
                        color:#fff;
                        text-align: center;
                    }
                }
            }//FIN HEADER--INFOS
// ------------------------------------------FIN LAPTOP  HEADER INFOS-------------------------------------------//
            .header--options { 
                max-width:765px;
                margin: 0;
                .reset{
                    margin:auto 15px;
                    .reset--option{
                        font-size: 1.3em;
                        color: #fff;
                    }
                }
                .reset:hover>.reset--option{
                    animation: reload 3s ease infinite;
                }
                @include aligment(row,space-evenly ,flex-start ); 
                    label{
                        font-size: 2rem;
                        font-family: "MedievalSharp";  
                    }
                    input{
                        max-width:100px;
                        border:1px #fff;
                        font-size:1.9rem;
                        color:#fff;
                        text-align: center;
                        border-style:none;
                        border-bottom-style:dotted;
                        background: transparent;
                    }   
                    .input--space{
                        align-self: flex-start;
                        display: block;
                        width: 2px;
                        height: 36px;
                        background-color: #fff;
                        margin: 0 15px;
                    }
                .cheatMod{
                        max-width: 200px;
                        .cheat  {//checkbox de l'input cheatbox modifié
                            width:25px;
                            height: 25px;
                        }
                        .inactivated{//Style par défault. Changement de menu depuis le JS
                             display: none;
                        }
                        .activeOptions{
                            @include aligment(column,space-evenly ,flex-start );
                            .Crit{
                                @include aligment(row,space-between ,center );
                                width: 100%; height:25px;
                                .accent{
                                    text-transform: capitalize;
                                }
                                label{
                                    font-size: 1.1em;
                                } 
                                .cheat  {//checkbox de l'input cheatbox modifié
                                    width:20px;
                                    height: 20px;
                                }
                            }
                        }//fin activeOptions
                }//fin cheatMod
            }//fin header--options
        }
        //------------------------- DEBUT MQ -------------------------//
        //------------------------- DEBUT MQ -------------------------//
        @include laptop{
            header { 
                .header--infos{
                    max-width:35%;
                    h1{
                        font-size: 120px;
                        line-height: 100px;
                    }
                    .exclamationMark{
                        height: 40px;
                        width: 40px;
                        font-size: 1.5rem;
                        border: solid #fff 2px;
                        padding:5px;
                    }
                    .txt--infos {
                         .infos,ul{
                            font-size: 1em;
                            list-style-type: square;
                            color: #fff;
                        }
                        h2{
                            width: 90%;
                            margin: auto;
                            font-size: 1.5em;
                        }
                    }
                    .overlay{
                        max-height: 80%;
                        max-width: 80%;
                        .close--infos{
                            top: 3%;
                            right: 3%;
                            font-size: 1.4em;
                        }
                    }
                }
                .header--options { 
                    max-width:60%;
                    .reset{
                        .reset--option{
                            font-size: 1.2em;
                        }
                    }
                        label{
                            font-size: 1.5rem;
                        }
                        input{
                            max-width:30px;
                            font-size:1.5rem;
                        }   
                        .input--space{
                            margin: 0 10px;
                        }
                    .cheatMod{
                            width: 150px;
                            .cheat  {//checkbox de l'input cheatbox modifié
                                width:auto;
                                height: auto;
                                margin: 0 2px;
                            }
                            .inactivated{//Style par défault. Changement de menu depuis le JS
                                 display: none;
                            }
                            .activeOptions{
                                @include aligment(column,space-evenly ,flex-start );
                                .Crit{
                                    height:20px;
                                }
                            }//fin activeOptions
                    }//fin cheatMod
                }//fin header--options
            }
        }
        @include tab{
            header {
                .header--infos{
                    h1{
                        opacity: 0.85;
                        font-size: 100px;
                        line-height: 80px;
                        -webkit-text-stroke: 1px #242424;
                    }
                    .exclamationMark{
                        height: 30px;
                        width: 30px;
                        font-size: 1rem;
                        padding:4px;
                    }
                    .txt--infos {
                        display: none;
                        .infos,ul,h2{
                            font-size: 1em;
                            a{
                                color: #fff;
                                font-size: 1rem;
                            }
                        }
                        ul{
                            line-height: 1.4rem;
                            margin: 5px;
                            padding-left: 2%;
                        }
                        h2{
                            font-size: 2rem;
                            padding-bottom: 25px;
                            text-align: center;
                        }
                        table{
                            width: 100%;
                            color:#fff;
                            font-family: Arial, Helvetica, sans-serif;
                            font-size: 1.2em;
                            line-height: 22px;
                            margin-bottom: 2%;
                            thead{
                                tr td{
                                    background-color: rgba(255, 255, 255, 0.1);
                                    text-align: center;
                                    padding-right: 5px;
                                }
                            }
                            tbody{
                                tr td{
                                    padding: 15px;
                                }
                            }
                        }
                    }
                    .overlay{
                        max-height: 100%;
                        width:100%;
                        .close--infos{
                            top: 3%;
                            right: 3%;
                        }
                    }
                }//FIN HEADER--INFOS
    // ------------------------------------------FIN LAPTOP  HEADER INFOS-------------------------------------------//
                .header--options { 
                    max-width:765px;
                    margin: 0;
                    .reset{
                        margin:auto 15px;
                        .reset--option{
                            font-size: 1.3em;
                            color: #fff;
                        }
                    }
                    @include aligment(column,space-between ,flex-end); 
                        label{
                            font-size: 1.3rem;
                        }
                        input{
                            max-width:40px;
                            font-size:1.2rem;
                        }   
                        .input--space{
                            align-self: center;
                            display: block;
                            width: 50px;
                            height: 2px;
                            margin: 5px 0px;
                        }
                    .cheatMod{
                            .cheat  {//checkbox de l'input cheatbox modifié
                                width:20px;
                                height: 20px;
                                margin:0 10px
                            }
                    }//fin cheatMod
                }//fin header--options
            }
        }
        //------------------------- FIN HEADER MQ -------------------------//
        //------------------------- FIN HEADER MQ -------------------------//

 //----------------------------Fin Section HEADER----------------------------
        section{
        height: 40%;
        @include aligment(row,space-evenly,baseline );
        .draw ,.result{
            width: 40%;
            @include flexAlign(wrap,space-around,center);
        }
        .draw{
            .draw--number,.draw--dice{
                width: 50%;
            }
            .draw--dice{
                text-align: center;
            }
            .draw--display{
               max-width: 200px;
            }
            .draw--number p{
                text-align: center;
                font-size:14em;
                color: #fff;
                -webkit-text-stroke: 5px #957D03;
                text-shadow: 5px 4px 25px #000000;
            }
            .draw--btn{
                max-width: 100px;
                max-height: 60px;
                text-align: center;
                .fa-solid{ 
                    background-color: #957D03;
                    color: #fff;
                    font-size:3em ;
                    padding:10px;
                    border: #fff 2px dashed;
                    border-radius: 5px;
                }
            }
            .draw--btn:hover{
                .fa-solid{
                    background-color: #5c4d02;
                    font-size: 3.2em;
                }
            }
        }//Fin DRAW
        .equal { 
            max-width: 15%;
            margin: 2%;
            img{
                max-width:200px;
            }
        }
        .result{
            .result--number,.result--swordsShield{
                width: 50%  ;
            }
            .result--swordsShield{
                text-align: center;
            }
            .result--number p{
                text-align: center;
                font-size:14em;
                color: #fff;
                -webkit-text-stroke: 5px #957D03;
                text-shadow: 5px 4px 25px #000000;
            }
            .result--swordsShield img{
                max-width: 200px;
            }
        }
        }
        
        //------------------------- DEBUT MQ -------------------------//
        //------------------------- DEBUT MQ -------------------------//
        @include laptop{
            section{
                height: 30%;
                @include aligment(row,space-between,baseline );
                .draw ,.result{
                    width: 35%;
                    @include flexAlign(wrap,space-around,center);
                }
                .draw{
                    .draw--number,.draw--dice{
                        width: 50%;
                    }
                    .draw--dice{
                        text-align: center;
                    }
                    .draw--display{
                       width: 135px;
                    }
                    .draw--number p{
                        text-align: left;
                        font-size:10em;
                    }
                    .draw--btn:hover{
                        .fa-solid{
                            background-color: #5c4d02;
                            font-size: 3.2em;
                        }
                    }
                }//Fin DRAW
                .equal { 
                    img{
                        max-width:150px;
                    }
                }
                .result{
                    .result--number,.result--swordsShield{
                        width: 50%  ;
                    }
                    .result--swordsShield{
                        text-align: right;
                    }
                    .result--number p{
                        text-align: left;
                        font-size:10em;
                    }
                    .result--swordsShield img{
                        max-width: 155px;
                    }
                }
                }
        }
        @include tab{
            section{
                height: 35%;
                @include aligment(column,space-evenly,center );
                .draw ,.result{
                    width: 90%;
                    @include aligment(row,space-evenly ,center );
                }
                .draw{
                    .draw--number,.draw--dice{
                        width: 33%;
                    }
                    .draw--display{
                       max-width: 120px;
                    }
                    .draw--number p{
                        text-align: center;
                        font-size:10em;
                    }
                    .draw--btn{
                        width: 80px;
                        height: 60px;
                        .fa-solid{ 
                            font-size:2.5em ;
                        }
                    }
                }//Fin DRAW
                .equal { 
                    img{
                        max-width:100px;
                    }
                }
                .result{
                    .result--number,.result--swordsShield{
                        width: 50%  ;
                    }
                    .result--swordsShield{
                        text-align: center;
                    }
                    .result--number p{
                        text-align: center;
                        font-size:10em;
                    }
                    .result--swordsShield img{
                        max-width: 140px;
                    }
                }
                }
        }
        //------------------------- FIN section MQ -------------------------//
        //------------------------- FIN section MQ -------------------------//
        
        //----------------------------Fin Section SECTION----------------------------//
        footer{
        height: 20%;
        .dices{
            @include aligment(row,space-evenly ,baseline );
            width: 100%;
            .btn--dice{
                border:2px transparent solid;
                padding:15px 5px 5px 5px;
                width: 14%;
                @include aligment(column,space-evenly ,center );
                img{
                    height:130px;
                }
                p{
                    text-align: center;
                    font-size:3.5em;
                    color: #fff;
                    -webkit-text-stroke: 2px rgb(150, 125, 3);
                    text-shadow: 5px 4px 25px #000000;
                }
            }
            .btn--dice:hover{
                border:2px dashed;
                border-color: rgba(255, 255, 255, 0.5);
                border-radius: 5px;
            }
        }
        }
       
        //------------------------- DEBUT MQ -------------------------//
        //------------------------- DEBUT MQ -------------------------//
        @include laptop{
            footer{
                .dices{
                    .btn--dice{
                        img{
                            height:100px;
                        }
                        p{
                            font-size:3em;
                        }
                    }
                }
                } 
        }
        @include tab{
            footer{
                height: 30%;
                width: 75%;
                .dices{
                    @include flexAlign(wrap,space-evenly ,center );
                    width: 100%;
                    .btn--dice{
                        border:none;
                        padding:2px;
                        width: 25%;
                        @include aligment(column,space-evenly ,center );
                        img{
                            height:80px;
                        }
                        p{
                            text-align: center;
                            font-size:2.5em;
                        }
                    }
                }
            }
        }
        //------------------------- FIN FOOTER MQ -------------------------//
        //------------------------- FIN FOOTER MQ -------------------------//
}
@keyframes reload {
    100%{
        transform:rotate(360deg); 
    }
}