* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}

h1, p, label, input {
  color: #fff;
  font-family: 'Original Surfer', cursive;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

body .bkgd--img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

body .bkgd--img img {
  width: 100%;
  height: 100%;
}

body header {
  width: 80%;
  z-index: 50;
}

body section, body footer {
  width: 80%;
  z-index: 15;
}

body header {
  font-family: "MedievalSharp", cursive;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

body header .header--infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

body header .header--infos h1 {
  font-family: "MedievalSharp", cursive;
  max-width: 417px;
  text-align: center;
  font-size: 180px;
  line-height: 160px;
  color: #d3b200;
  opacity: 0.5;
  -webkit-text-stroke: 1px #242424;
}

body header .header--infos .exclamationMark {
  align-items: baseline;
  text-align: center;
  height: 50px;
  width: 50px;
  cursor: help;
  font-size: 1.8rem;
  color: #fff;
  border: solid #fff 3px;
  border-radius: 50%;
  padding: 10px;
}

body header .header--infos .txt--infos {
  display: none;
}

body header .header--infos .txt--infos .infos, body header .header--infos .txt--infos ul, body header .header--infos .txt--infos h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  list-style-type: square;
  color: #fff;
}

body header .header--infos .txt--infos .infos a, body header .header--infos .txt--infos ul a, body header .header--infos .txt--infos h2 a {
  color: #fff;
  font-size: 1rem;
}

body header .header--infos .txt--infos ul {
  line-height: 1.4rem;
  margin: 5px;
  padding-left: 2%;
}

body header .header--infos .txt--infos h2 {
  font-size: 2rem;
  padding-bottom: 25px;
  text-align: center;
}

body header .header--infos .txt--infos table {
  width: 100%;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 22px;
  margin-bottom: 2%;
}

body header .header--infos .txt--infos table thead tr td {
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding-right: 5px;
}

body header .header--infos .txt--infos table tbody tr td {
  padding: 15px;
}

body header .header--infos .overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  max-height: 70%;
  max-width: 70%;
  overflow-y: auto;
  padding: 2%;
  background-color: #242424;
  border-radius: 25px;
  box-shadow: 0px 5px 55px rgba(255, 255, 255, 0.2);
}

body header .header--infos .overlay .close--infos {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

body header .header--options {
  max-width: 765px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

body header .header--options .reset {
  margin: auto 15px;
}

body header .header--options .reset .reset--option {
  font-size: 1.3em;
  color: #fff;
}

body header .header--options .reset:hover > .reset--option {
  animation: reload 3s ease infinite;
}

body header .header--options label {
  font-size: 2rem;
  font-family: "MedievalSharp";
}

body header .header--options input {
  max-width: 100px;
  border: 1px #fff;
  font-size: 1.9rem;
  color: #fff;
  text-align: center;
  border-style: none;
  border-bottom-style: dotted;
  background: transparent;
}

body header .header--options .input--space {
  align-self: flex-start;
  display: block;
  width: 2px;
  height: 36px;
  background-color: #fff;
  margin: 0 15px;
}

body header .header--options .cheatMod {
  max-width: 200px;
}

body header .header--options .cheatMod .cheat {
  width: 25px;
  height: 25px;
}

body header .header--options .cheatMod .inactivated {
  display: none;
}

body header .header--options .cheatMod .activeOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

body header .header--options .cheatMod .activeOptions .Crit {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25px;
}

body header .header--options .cheatMod .activeOptions .Crit .accent {
  text-transform: capitalize;
}

body header .header--options .cheatMod .activeOptions .Crit label {
  font-size: 1.1em;
}

body header .header--options .cheatMod .activeOptions .Crit .cheat {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1025px) {
  body header .header--infos {
    max-width: 35%;
  }
  body header .header--infos h1 {
    font-size: 120px;
    line-height: 100px;
  }
  body header .header--infos .exclamationMark {
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    border: solid #fff 2px;
    padding: 5px;
  }
  body header .header--infos .txt--infos .infos, body header .header--infos .txt--infos ul {
    font-size: 1em;
    list-style-type: square;
    color: #fff;
  }
  body header .header--infos .txt--infos h2 {
    width: 90%;
    margin: auto;
    font-size: 1.5em;
  }
  body header .header--infos .overlay {
    max-height: 80%;
    max-width: 80%;
  }
  body header .header--infos .overlay .close--infos {
    top: 3%;
    right: 3%;
    font-size: 1.4em;
  }
  body header .header--options {
    max-width: 60%;
  }
  body header .header--options .reset .reset--option {
    font-size: 1.2em;
  }
  body header .header--options label {
    font-size: 1.5rem;
  }
  body header .header--options input {
    max-width: 30px;
    font-size: 1.5rem;
  }
  body header .header--options .input--space {
    margin: 0 10px;
  }
  body header .header--options .cheatMod {
    width: 150px;
  }
  body header .header--options .cheatMod .cheat {
    width: auto;
    height: auto;
    margin: 0 2px;
  }
  body header .header--options .cheatMod .inactivated {
    display: none;
  }
  body header .header--options .cheatMod .activeOptions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  body header .header--options .cheatMod .activeOptions .Crit {
    height: 20px;
  }
}

body section {
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

body section .draw, body section .result {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

body section .draw .draw--number, body section .draw .draw--dice {
  width: 50%;
}

body section .draw .draw--dice {
  text-align: center;
}

body section .draw .draw--display {
  max-width: 200px;
}

body section .draw .draw--number p {
  text-align: center;
  font-size: 14em;
  color: #fff;
  -webkit-text-stroke: 5px #957D03;
  text-shadow: 5px 4px 25px #000000;
}

body section .draw .draw--btn {
  max-width: 100px;
  max-height: 60px;
  text-align: center;
}

body section .draw .draw--btn .fa-solid {
  background-color: #957D03;
  color: #fff;
  font-size: 3em;
  padding: 10px;
  border: #fff 2px dashed;
  border-radius: 5px;
}

body section .draw .draw--btn:hover .fa-solid {
  background-color: #5c4d02;
  font-size: 3.2em;
}

body section .equal {
  max-width: 15%;
  margin: 2%;
}

body section .equal img {
  max-width: 200px;
}

body section .result .result--number, body section .result .result--swordsShield {
  width: 50%;
}

body section .result .result--swordsShield {
  text-align: center;
}

body section .result .result--number p {
  text-align: center;
  font-size: 14em;
  color: #fff;
  -webkit-text-stroke: 5px #957D03;
  text-shadow: 5px 4px 25px #000000;
}

body section .result .result--swordsShield img {
  max-width: 200px;
}

@media screen and (max-width: 1025px) {
  body section {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  body section .draw, body section .result {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  body section .draw .draw--number, body section .draw .draw--dice {
    width: 50%;
  }
  body section .draw .draw--dice {
    text-align: center;
  }
  body section .draw .draw--display {
    width: 135px;
  }
  body section .draw .draw--number p {
    text-align: left;
    font-size: 10em;
  }
  body section .draw .draw--btn:hover .fa-solid {
    background-color: #5c4d02;
    font-size: 3.2em;
  }
  body section .equal img {
    max-width: 150px;
  }
  body section .result .result--number, body section .result .result--swordsShield {
    width: 50%;
  }
  body section .result .result--swordsShield {
    text-align: right;
  }
  body section .result .result--number p {
    text-align: left;
    font-size: 10em;
  }
  body section .result .result--swordsShield img {
    max-width: 155px;
  }
}

body footer {
  height: 20%;
}

body footer .dices {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
}

body footer .dices .btn--dice {
  border: 2px transparent solid;
  padding: 15px 5px 5px 5px;
  width: 14%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

body footer .dices .btn--dice img {
  height: 130px;
}

body footer .dices .btn--dice p {
  text-align: center;
  font-size: 3.5em;
  color: #fff;
  -webkit-text-stroke: 2px #967d03;
  text-shadow: 5px 4px 25px #000000;
}

body footer .dices .btn--dice:hover {
  border: 2px dashed;
  border-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

@media screen and (max-width: 1025px) {
  body footer .dices .btn--dice img {
    height: 100px;
  }
  body footer .dices .btn--dice p {
    font-size: 3em;
  }
}

@keyframes reload {
  100% {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */